<template>
  <q-page padding>
    <div class="column">
      <div style="border: 1px solid black">
        <div class="text-center q-display-1 q-ma-lg">
          "제 이야기, 들어보실래요?"
        </div>
      <div class="row justify-around text-center items-center q-pb-xl gutter-xl q-px-xl">
        <letter_card v-for="item in arr"  :key="item.id" :title="item.title" :introMsg="item.introMsg" :imgPath="item.imgPath" :letterPath="item.letterPath" :shareCount="item.shareCount" :readCount="item.readCount" :loveCount="item.loveCount" :letterFont="item.letterFont" :status="item.status" :isAdmin="true"/>
       </div>
      </div>
  </div>
  </q-page>
</template>
<script>
import LetterCard from '../components/letter_card_for_member'
import store from '../store'
export default {
  data: function () {
    return {
      arr: []
    }
  },
  components: {
    'letter_card': LetterCard
  },
  methods: {
    onClickBtn: function () {
      console.log(this.$route)
      let userId = this.$route.params.id
      this.$router.push('/createletter/' + userId)
    }
  },
  created: function () {
    // 'title', 'introMsg', 'imgPath', 'letterPath'
    // user/:id
    // let list = []
    let self = this
    const url = 'http://' + window.location.hostname + store.state.port + '/letter/admin'
    console.log(url)
    this.$axios.get(url).then(function (response) {
    // window.parent.alert(response.data.name)
      if (response.status === 200) {
        console.log(response)
        let list = response.data
        let idx = 0
        for (let letter of list) {
          letter.id = letter.letter_id
          letter.introMsg = letter.intro_msg
          letter.imgPath = '/statics/envelope' + (idx % 6 + 1) + '.png'
          letter.shareCount = letter.share_count
          letter.readCount = letter.read_count
          letter.loveCount = letter.love_count
          letter.letterFont = 'GyeonggiBatang'
          letter.letterPath = '/readletter/' + letter.id + '/user/admin'
          idx++
        }

        self.arr = list
      } else {
        alert('fail')
        alert('글목록 가져오기 실패')
      }
    // console.log(response)
    }).catch((err) => {
      console.log(err)
      // window.parent.alert('catch')
      alert('글목록 가져오기 에러')
    })
  }
}
</script>

<style>
</style>
