<template>
  <q-page class="column items-center" padding>
  <!-- content -->
    <!-- <div class="column items-center"> -->
      <div class="row justify-center">
        <img src="statics/calligraphy1.jpeg" @click="extendImg(0)" width="270" height="200"/>
        <img src="statics/calligraphy2.jpg" width="270" height="200"  @click="extendImg(1)"/>
        <img src="statics/calligraphy3.jpeg" width="270" height="200"  @click="extendImg(2)"/>
      </div>
      <div class="row justify-center">
        <img src="statics/calligraphy4.jpeg" width="270" height="200"  @click="extendImg(3)"/>
        <img src="statics/calligraphy5.jpeg" width="270" height="200"  @click="extendImg(4)"/>
      </div>
       <q-modal v-model="opened" :content-css="modalStyle">
         <q-modal-layout>
           <q-list>
             <q-item v-if="select === 0">
               <q-item-main>
                 <img src="statics/calligraphy1.jpeg" width="100%" :height="imgHeight"/>
               </q-item-main>
             </q-item>
             <q-item v-if="select === 1">
               <q-item-main>
                 <img src="statics/calligraphy2.jpg" width="100%" :height="imgHeight"/>
               </q-item-main>
             </q-item>
             <q-item v-if="select === 2">
               <q-item-main>
                 <img src="statics/calligraphy3.jpeg" width="100%" :height="imgHeight"/>
               </q-item-main>
             </q-item>
             <q-item v-if="select === 3">
               <q-item-main>
                 <img src="statics/calligraphy4.jpeg" width="100%" :height="imgHeight"/>
               </q-item-main>
             </q-item>
             <q-item v-if="select === 4">
               <q-item-main>
                 <img src="statics/calligraphy5.jpeg" width="100%" :height="imgHeight"/>
               </q-item-main>
             </q-item>
             <q-item>
               <q-item-main>
               </q-item-main>
               <q-item-side>
                  <q-btn label="닫음" color="primary" outline @click="opened = false"/>
               </q-item-side>
             </q-item>
          <!-- <img src="statics/calligraphy5.jpeg" width="100%" height="340px" style="overflow: hidden;"/> -->
           </q-list>
         </q-modal-layout>
       </q-modal>
    <!-- </div> -->
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
  data: function () {
    return {
      select: 0,
      imgHeight: '310px',
      opened: false,
      imgurl: 'statics/calligraphy1.jpeg',
      modalStyle: {width: '600px', height: '400px', padding: '20px', overflow: 'hidden'}
    }
  },
  methods: {
    extendImg: function (idx) {
      this.select = idx
      this.opened = true
    }
  }
}
</script>

<style>
</style>
