<template>
  <q-page padding>
     <q-btn align="right" class="q-mx-xs" size="md" label="저장" rounded outline color="secondary" @click="onClickSaveBtn"  />
     <div class="row">
     <div class="col-lg-12" style="max-width:1200px">
      <q-scroll-area style="height: 500px">
      <quill ref="qc" :options="{ theme: 'snow', modules: {toolbar: toolbarOptions}}">
     </quill>
     <q-list no-border>
      <q-item>
        <q-item-main />
        <q-item-side>
        <q-btn align="right" class="q-mx-xs" size="md" label="저장" rounded outline color="secondary" @click="onClickSaveBtn"  />
      </q-item-side>
      </q-item>
    </q-list>
    </q-scroll-area>
    </div>
    </div>
    <!-- <div class="letter" v-html="model"></div> -->
  </q-page>
</template>
<script>
import store from '../store'
import Vue from 'vue'
import Quill from 'vue-bulma-quill'
Vue.use(Quill)
// import MediumEditor from 'vue2-medium-editor'
export default {
  components: {
    Quill
  },
  data: function () {
    return {
      content: '',
      toolbarOptions: [
        ['bold', 'italic', 'underline', 'strike'], // toggled buttons
        // ['blockquote', 'code-block'],
        // [{ 'header': 1 }, { 'header': 2 }], // custom button values
        // [{ 'list': 'ordered' }, { 'list': 'bullet' }],
        // [{ 'script': 'sub' }, { 'script': 'super' }], // superscript/subscript
        [{ 'indent': '-1' }, { 'indent': '+1' }], // outdent/indent
        // [{ 'direction': 'rtl' }], // text direction
        // [{ 'size': ['small', false, 'large', 'huge'] }], // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        [{ 'color': [] }, { 'background': [] }], // dropdown with defaults from theme
        // [{ 'font': [] }],
        [{ 'align': [] }]
        // ['clean'] // remove formatting button
      ]
    }
  },
  methods: {
    processEditOperation: function (operation) {
      this.text = operation.api.origElements.innerHTML
    },
    onChange: function () {
      console.log(this.content)
    },
    onInput: function () {
      // this.content2 = this.content
      console.log(this.content)
    },
    onClickSaveBtn: function () {
      this.content = this.$refs.qc.$el.querySelector('.ql-editor').innerHTML
      // this.$refs.qc.$el.querySelector('.ql-editor').innerHTML = this.$refs.qc.editor.getText()
      // lert(this.$refs.qc.editor.getText())
      const url = 'http://' + window.location.hostname + store.state.port + '/letter'
      let self = this
      this.$axios.post(url, {
        user_id: self.$route.params.user_id,
        content: self.content
      }).then(function (response) {
        // window.parent.alert(response.data.name)
        if (response.status === 200) {
        // console.log(response)
          alert('글쓰기 성공')
          self.$router.push('/readletter/' + response.data.letter_id + '/user/' + self.$route.params.user_id)
        } else {
          alert('fail')
          alert('글쓰기 실패')
        }
        // console.log(response)
      }).catch(() => {
        // window.parent.alert('catch')
        alert('글쓰기 에러')
      })
    },
    mounted: function () {
      this.$refs.qc.editor.insertText(10000, 'jhgj')
    }
  }
}
</script>

<style lang="styl">
@import "~quill/assets/snow"
</style>
