<template>
  <q-page class="row" padding>
    <div class="col-lg-12" style="max-width:1200px">
    <q-scroll-area style="height: 200px">
    <div class="col-lg-12" style="max-width:1200px">
      <q-list no-border>
      <q-item>
        <q-btn class="q-mx-xs" size="md" label="저장" rounded outline color="secondary" @click="onClickSaveBtn"  />
      </q-item>
      <q-item>
        <q-item-side>글쓴이: </q-item-side>
        <q-item-main>{{writerId}}</q-item-main>
      </q-item>
      <q-item>
        <q-item-side>제목: </q-item-side>
        <q-item-main>
          <q-input v-if="isAdmin" v-model="title" />
          <p v-else>{{title}}</p>
        </q-item-main>
      </q-item>
      <q-item>
        <q-item-side>인트로글: </q-item-side>
        <q-item-main>
          <q-input v-if="isAdmin" v-model="introMsg" />
          <p v-else>{{introMsg}}</p>
        </q-item-main>
      </q-item>
     </q-list>
     <div>
      <quill ref="qc" :options="{ theme: 'snow', modules: {toolbar: toolbarOptions}}" >
     </quill>
    </div>
    <div class="row justify-end q-ma-md">
      <q-btn class="q-mx-xs" size="md" label="저장" rounded outline color="secondary" @click="onClickSaveBtn"  />
   </div>
 </div>
</q-scroll-area>
</div>
  </q-page>
</template>

<script>
import store from '../store'
import Vue from 'vue'
import Quill from 'vue-bulma-quill'
Vue.use(Quill)
export default {
  components: {
    Quill
  },
  data: function () {
    return {
      title: '',
      introMsg: '',
      content: '',
      writerId: '',
      toolbarOptions: [
        ['bold', 'italic', 'underline', 'strike'], // toggled buttons
        // ['blockquote', 'code-block'],
        // [{ 'header': 1 }, { 'header': 2 }], // custom button values
        // [{ 'list': 'ordered' }, { 'list': 'bullet' }],
        // [{ 'script': 'sub' }, { 'script': 'super' }], // superscript/subscript
        [{ 'indent': '-1' }, { 'indent': '+1' }], // outdent/indent
        // [{ 'direction': 'rtl' }], // text direction
        // [{ 'size': ['small', false, 'large', 'huge'] }], // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        [{ 'color': [] }, { 'background': [] }], // dropdown with defaults from theme
        // [{ 'font': [] }],
        [{ 'align': [] }]
        // ['clean'] // remove formatting button
      ]
    }
  },
  methods: {
    onClickSaveBtn: function () {
      this.content = this.$refs.qc.$el.querySelector('.ql-editor').innerHTML
      const url = 'http://' + window.location.hostname + store.state.port + '/letter/' + this.$route.params.letter_id
      let self = this
      this.$axios.put(url, {
        title: self.title,
        intro_msg: self.introMsg,
        content: self.content
      }).then(function (response) {
        // window.parent.alert(response.data.name)
        if (response.status === 200) {
          // console.log(response)
          alert('글수정 성공')
          self.$router.push('/readletter/' + self.$route.params.letter_id + '/user/' + self.$route.params.user_id)
        } else {
          alert('fail')
          alert('글쓰기 실패')
        }
        // console.log(response)
      }).catch((e) => {
        // window.parent.alert('catch')
        console.log(e)
        alert('글쓰기 에러')
      })
    }
  },
  created: function () {
    let self = this
    const url = 'http://' + window.location.hostname + store.state.port + '/letter/' + this.$route.params.letter_id
    console.log(url)
    this.$axios.get(url).then(function (response) {
    // window.parent.alert(response.data.name)
      if (response.status === 200) {
        // console.log(response)
        // console.log(response.data.content)
        self.content = response.data.content
        self.subtitle = response.data.subtitle
        self.writerId = response.data.user_id
        self.title = response.data.title
        self.introMsg = response.data.intro_msg
        self.$refs.qc.$el.querySelector('.ql-editor').innerHTML = response.data.content
      } else {
        alert('fail')
        alert('글목록 가져오기 실패')
      }
    // console.log(response)
    }).catch((err) => {
      console.log(err)
      // window.parent.alert('catch')
      alert('글목록 가져오기 에러')
    })
  },
  computed: {
    isAdmin: function () {
      // console.log('어드민 수정모드:' + this.userId)
      if (this.$route.params.user_id === 'admin') {
        return true
      } else {
        return false
      }
    }
  }
}
</script>

<style lang="styl">
@import "~quill/assets/snow"
p {
    line-height: 3;
}
</style>
