<template>
  <q-page class="row justify-center" padding>
    <div class="column col-lg-12">
      <div class="videowrapper">
        <!-- <iframe src="http://www.youtube.com/embed/qiDod6SNBi0?autoplay=1&showinfo=0&rel=0" allowfullscreen frameborder="0"> -->
          <iframe src="http://www.youtube.com/embed/JTyPqhPb2n0?autoplay=1&showinfo=0&rel=0" allowfullscreen frameborder="0">
        </iframe>
      </div>
      <div class="row justify-center">
        <img class="q-ma-lg" src="statics/btq.png" width="250px" height="120px" />
      </div>
      <div style="border: 1px solid black">
        <div class="row justify-center">
          <img style="margin-top:50px;margin-bottom:30px" width="230px" height="23px" src="statics/story.png"/>
        </div>
      <div ref="letters" class="row justify-around text-center items-center q-pb-xl gutter-xl q-px-xl">
        <letter_card v-for="item in arr"  :key="item.id" :refId="'letter' + item.id" :letterId="item.id" :title="item.title" :introMsg="item.introMsg" :imgPath="item.imgPath" :letterPath="item.letterPath" :shareCount="item.shareCount" :readCount="item.readCount" :loveCount="item.loveCount" :letterFont="item.letterFont" :videoId="item.videoId" />
       </div>
      <!--  <q-btn label="test" color="primary" @click="test"/> -->
      </div>
    </div>
    <q-modal class="column items-center" v-model="opened" content-css="width:600px">
      <div class="videowrapper">
        <!-- showinfo=0& -->
        <iframe :src="'https://www.youtube.com/embed/' + videoId + '?autoplay=1&modestbranding=1&showinfo=0&rel=0'" allowfullscreen frameborder="0">
        </iframe>
      </div>
      <div class="row justify-center">
      <q-btn
        class="q-ma-md"
        outline
        rounded
        color="primary"
        @click="clickBtn"
        label="닫기"
       />
      </div>
     </q-modal>
    <q-list class="q-my-lg" no-border>
      <q-item class="q-mx-xl q-px-lg">
          <q-btn class="self-center q-mx-md" round icon="favorite" color="red" size="xl" @click="onFavoriteClick"><q-tooltip>여러분의 이야기. 잘 읽었습니다. :)</q-tooltip></q-btn> <span class="self-center" style="font-size:20px;padding-right:30px">{{favoriteCnt}}명</span>
      </q-item>
      <q-item class="q-mx-xl q-my-md q-px-lg">
        <social-sharing :url="'http://7rainbow.org'" inline-template>
          <network network="facebook" >
            <q-btn class="self-center q-mx-md"  icon="fab fa-facebook-f" size="xl" round color="blue-8"><q-tooltip>페이스북 공유,댓글건수</q-tooltip></q-btn>
          </network>
        </social-sharing>
        <span class="self-center" style="font-size:20px;padding-right:30px">{{facebookCnt}}건</span>
          <!-- <q-btn disable class="self-center" round flat icon="fab fa-facebook-f" color="primary" size="xl" @click="onFavoriteClick"><q-tooltip>페이스북 공유건수</q-tooltip></q-btn> <span class="self-center" style="font-size:30px;padding-right:30px">12건</span> -->
      </q-item>
    </q-list>
  </q-page>
</template>
<script>
import store from '../store'
import LetterCard from '../components/letter_card'
// import { Cookies } from 'quasar'
export default {
  // name: 'PageName',
  head: {
    title: function () {
      return {
        inner: 'Better than Queer'
      }
    }
  },
  data: function () {
    return {
      videoId: 'qiDod6SNBi0',
      opened: false,
      arr: [],
      favoriteCnt: 100,
      facebookCnt: 100
    }
  },
  props: {
    refId: 'video'
  },
  components: {
    'letter_card': LetterCard
  },
  created () {
    this.$root.$on('onPlay', this.onPlay)
    let self = this
    const url = 'http://' + window.location.hostname + store.state.port + '/letter/all'
    // console.log(url)
    this.$axios.get(url).then(function (response) {
    // window.parent.alert(response.data.name)
      if (response.status === 200) {
        // console.log(response)
        let list = response.data
        let idx = 0

        for (let letter of list) {
          letter.id = letter.letter_id
          letter.introMsg = letter.intro_msg
          letter.imgPath = '/statics/envelope' + (idx % 6 + 1) + '.png'
          letter.shareCount = letter.share_count
          letter.readCount = letter.read_count
          letter.loveCount = letter.love_count
          letter.letterFont = 'GyeonggiBatang'
          letter.letterPath = '/readletter/' + letter.id
          letter.videoId = letter.video_id
          idx++
        }
        self.arr = list
      } else {
        alert('fail')
        alert('글목록 가져오기 실패')
      }
    // console.log(response)
    }).catch((err) => {
      console.log(err)
      // window.parent.alert('catch')
      alert('글목록 가져오기 에러')
    })

    this.$axios.get('http://' + window.location.hostname + store.state.port + '/statistic').then(function (response) {
      if (response.status === 200) {
        self.favoriteCnt = response.data.favorite
        self.facebookCnt = response.data.facebook
      }
    }).catch((err) => {
      console.log(err)
      // window.parent.alert('catch')
      alert(' 통계 가져오기 에러')
    })
  },
  methods: {
    onFavoriteClick: function () {
      let self = this
      let options = { expires: 1 }
      let cookieValue = this.$q.cookies.get('favorite')
      // console.log(cookieValue)
      if (!cookieValue) {
        this.$q.cookies.set('favorite', 1, options)
        // addfavorite
        this.$axios.get('http://' + window.location.hostname + store.state.port + '/statistic/addfavorite').then(function (response) {
          console.log(response)
          if (response.status === 200) {
            self.favoriteCnt = self.favoriteCnt + 1
          }
        }).catch((err) => {
          console.log(err)
          // window.parent.alert('catch')
          alert(' 통계 가져오기 에러')
        })
      } else {
        alert('감사합니다. 이미 클릭하셨습니다.')
      }
    },
    onPlay: function (videoId) {
      this.videoId = videoId
      this.opened = true
    },
    clickBtn: function () {
      this.opened = false
      this.videoId = ''
    }
  }
}
</script>

<style>
</style>
