<template>
  <q-page padding>
    <div class="absolute-center" style="maxWidth:1000px">
      <img :src="'statics/logo.png'" class="q-display-1 q-pb-md" />
      <q-field class="q-ma-sm" label="아이디">
        <q-input v-model="id" type="text" />
      </q-field>
      <q-field class="q-ma-sm" label="비밀번호">
        <q-input v-model="pwd" type="password" />
      </q-field>
      <q-btn class="q-ma-md full-width" label="로그인" rounded outline color="primary" @click="onSubmit" />
      <div class="row justify-center">
        <q-btn class="full-width" flat label="회원가입" rounded color="primary" @click="$router.push('/register')" />
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  data: function () {
    return {
      id: '',
      pwd: '',
      msg: ''
    }
  },
  methods: {
    onSubmit () {
      const userId = this.id
      const pwd = this.pwd
      const self = this
      this.$store.dispatch('LOGIN', {userId, pwd})
        .then(() => {
          console.log(userId)
          if (userId !== 'admin') {
            self.$router.push('/myletters/' + userId)
          } else {
            console.log('here!')
            self.$router.push('/adminletters')
          }
        })
        .catch(({message}) => {
          this.msg = message
          alert(this.msg)
        })
    },
    redirect () {
      // const {search} = window.location
      // const tokens = search.replace(/^\?/, '').split('&')
      // const {returnPath} = tokens.reduce((qs, tkn) => {
      //   const pair = tkn.split('=')
      //   qs[pair[0]] = decodeURIComponent(pair[1])
      //   return qs
      // }, {})
      // 리다이렉트 처리
    }
  }
}
</script>

<style>
</style>
