<template>
  <q-page padding>
    <q-btn class="q-mb-sm" align="center" size="md" label="편지쓰기" rounded color="primary" @click="onClickBtn"  />
    <div class="column">
      <div style="border: 1px solid black">
        <div class="text-center q-display-1 q-ma-lg">
          "제 이야기, 들어보실래요?"
        </div>
      <div class="row justify-around text-center items-center q-pb-xl gutter-xl q-px-xl">
        <letter_card v-for="item in arr"  :key="item.id" :title="item.title" :introMsg="item.introMsg" :imgPath="item.imgPath" :letterPath="item.letterPath" :shareCount="item.shareCount" :readCount="item.readCount" :loveCount="item.loveCount" :letterFont="item.letterFont" :status="item.status" :isAdmin="false"/>
       </div>
      </div>
  </div>
  </q-page>
</template>
<script>
import store from '../store'
import LetterCard from '../components/letter_card_for_member'
export default {
  data: function () {
    return {
      arr: []
    }
  },
  components: {
    'letter_card': LetterCard
  },
  methods: {
    onClickBtn: function () {
      console.log(this.$route)
      let userId = this.$route.params.id
      this.$router.push('/createletter/' + userId)
    }
  },
  created: function () {
    // 'title', 'introMsg', 'imgPath', 'letterPath'
    // user/:id
    // let list = []
    let self = this
    const url = 'http://' + window.location.hostname + store.state.port + '/letter/user/' + this.$route.params.id
    console.log(url)
    this.$axios.get(url).then(function (response) {
    // window.parent.alert(response.data.name)
      if (response.status === 200) {
        console.log(response)
        let list = response.data
        let idx = 0
        for (let letter of list) {
          letter.id = letter.letter_id
          letter.introMsg = letter.intro_msg
          letter.imgPath = '/statics/envelope' + (idx % 6 + 1) + '.png'
          letter.shareCount = letter.share_count
          letter.readCount = letter.read_count
          letter.loveCount = letter.love_count
          letter.letterFont = 'GyeonggiBatang'
          letter.letterPath = '/readletter/' + letter.id + '/user/' + self.$route.params.id
          idx++
        }

        self.arr = list
      } else {
        alert('fail')
        alert('글목록 가져오기 실패')
      }
    // console.log(response)
    }).catch((err) => {
      console.log(err)
      // window.parent.alert('catch')
      alert('글목록 가져오기 에러')
    })
    // this.arr = [
    //   {
    //     id: 1,
    //     title: '저는 29살, 요셉입니다.',
    //     introMsg: '짧은 내 얘기를 해 보자면.. 나는 초등학교 고학년, 성에 눈을 조금씩 뜰 나이에 남들과 다르다는 것을 깨달았어.',
    //     imgPath: 'statics/envelope4.png',
    //     letterPath: '/letter_joseph29',
    //     shareCount: 100,
    //     readCount: 145,
    //     loveCount: 320,
    //     letterFont: 'GyeonggiBatang'
    //   },
    //   {
    //     id: 2,
    //     title: '저는 29살, 요셉입니다.',
    //     introMsg: '짧은 내 얘기를 해 보자면.. 나는 초등학교 고학년, 성에 눈을 조금씩 뜰 나이에 남들과 다르다는 것을 깨달았어.',
    //     imgPath: 'statics/envelope4.png',
    //     letterPath: '/letter_joseph29',
    //     shareCount: 100,
    //     readCount: 145,
    //     loveCount: 320
    //   },
    //   {
    //     id: 3,
    //     title: '저는 29살, 요셉입니다.',
    //     introMsg: '짧은 내 얘기를 해 보자면.. 나는 초등학교 고학년, 성에 눈을 조금씩 뜰 나이에 남들과 다르다는 것을 깨달았어.',
    //     imgPath: 'statics/envelope4.png',
    //     letterPath: '/letter_joseph29',
    //     shareCount: 100,
    //     readCount: 145,
    //     loveCount: 320
    //   },
    //   {
    //     id: 4,
    //     title: '저는 29살, 요셉입니다.',
    //     introMsg: '짧은 내 얘기를 해 보자면.. 나는 초등학교 고학년, 성에 눈을 조금씩 뜰 나이에 남들과 다르다는 것을 깨달았어.',
    //     imgPath: 'statics/envelope4.png',
    //     letterPath: '/letter_joseph29',
    //     shareCount: 100,
    //     readCount: 145,
    //     loveCount: 320
    //   },
    //   {
    //     id: 5,
    //     title: '저는 29살, 요셉입니다.',
    //     introMsg: '짧은 내 얘기를 해 보자면.. 나는 초등학교 고학년, 성에 눈을 조금씩 뜰 나이에 남들과 다르다는 것을 깨달았어.',
    //     imgPath: 'statics/envelope4.png',
    //     letterPath: '/letter_joseph29',
    //     shareCount: 100,
    //     readCount: 145,
    //     loveCount: 320
    //   },
    //   {
    //     id: 6,
    //     title: '저는 29살, 요셉입니다.',
    //     introMsg: '짧은 내 얘기를 해 보자면.. 나는 초등학교 고학년, 성에 눈을 조금씩 뜰 나이에 남들과 다르다는 것을 깨달았어.',
    //     imgPath: 'statics/envelope4.png',
    //     letterPath: '/letter_joseph29',
    //     shareCount: 100,
    //     readCount: 145,
    //     loveCount: 320
    //   }
    // ]
  }
}
</script>

<style>
</style>
