<template>
    <q-page padding>
    <div class="column">
  <!--     <div class="text-center q-display-1">Letter from CALVARY</div>
      <div class="text-center q-headline q-mb-lg">"the church and the struggler"</div> -->
      <div class="row justify-center">
        <img class="q-ma-lg" src="statics/btq.png" width="250px" height="120px" />
      </div>
      <div class="row flex-center">
        <div class="column">
          <div class="letter-background" style="border: 1px solid black;max-width:800px">
            <div class="text-center q-headline q-pa-lg">
              "제 이야기, 들어보실래요?"<br>
              <span class="letter_title">- {{title}} -</span>
            </div>
              <div class="q-px-md letter ql-editor " v-html="content">
              </div>
            </div>
          <div v-if="isMemberView" class="flex-center">상태: {{statusTxt}}
          </div>
          <div class="row flex-center" v-if="isMemberView">
            <q-btn v-if="status === 0 || isAdmin " class="q-ma-xs" align="center" size="md" outline color="primary" label="수정하기" @click="onEditReq" />
            <q-btn v-if="status === 0 && !isAdmin" class="q-ma-xs" align="center" size="md" outline color="primary" label="공개 요청하기" @click="onOpenReq('open')" />
             <q-btn v-if="status === 1 && !isAdmin" class="q-ma-xs" align="center" size="md" outline color="primary" label="공개요청 취소하기" @click="onOpenReq('close')" />
             <q-btn v-if="status === 1 && isAdmin" class="q-ma-xs" align="center" size="md" outline color="primary" label="공개하기" @click="onAdminOpen('open')" />
              <q-btn v-if="status === 2 && isAdmin" class="q-ma-xs" align="center" size="md" outline color="primary" label="숨기기" @click="onAdminOpen('close')" />
            <q-btn v-if="status === 0" class="q-ma-xs" align="center" size="md" outline color="primary" label="삭제하기" @click="onDeleteReq" />
            <!-- fas fa-chevron-right -->
            <q-btn class="q-ma-xs" align="center" size="md" outline color="primary" label="편지 목록" @click="onListReq" />
          </div>
          <div class="column items-center" v-else>
          <social-sharing :url="'http://7rainbow.org/readletter/' + $route.params.letter_id" inline-template>
<!--     <q-fab
  color="purple"
  icon="share"
  direction="up"
> -->
   <div class="row justify-end">
    <network network="facebook">
      <q-btn class="q-my-md q-ma-xs"  icon="fab fa-facebook-f" round color="blue-8"/>
    </network>
    <network network="googleplus">
      <q-btn class="q-my-md q-ma-xs"  icon="fab fa-google-plus-g" round color="red-7"/>
    </network>
    <network network="twitter">
      <q-btn class="q-my-md q-ma-xs"  icon="fab fa-twitter" round color="blue-4"/>
    </network>
<!-- </q-fab> -->
  </div>
</social-sharing>
<div class="row">
            <q-btn class="q-my-md" flat icon="fas fa-chevron-left" :disable="prevId === Number($route.params.letter_id)" round color="primary" @click="onPrev()"/>
            <q-btn class="q-ma-md" align="center" size="md" outline color="primary" label="편지 목록" @click="onListReq" />
            <q-btn class="q-my-md" flat icon="fas fa-chevron-right" :disable="nextId === Number($route.params.letter_id)" round color="primary" @click="onNext()"/>
          </div>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import store from '../store'
export default {
  // name: 'PageName',
  head: {
    title: function () {
      return {
        inner: '그물 깁는 사람들'
      }
    }
    // meta: function () {
    //   return [
    //     { name: 'application-name', content: '그물 깁는 사람들' },
    //     { name: 'description', content: '제 이야기 들어보실래요?', id: 'desc' }, // id to replace intead of create element
    //     // ...
    //     // Twitter
    //     { name: 'twitter:title', content: '제 이야기 들어보실래요?' },
    //     // with shorthand
    //     { n: 'twitter:description', c: '제 이야기 들어보실래요?' },
    //     // ...
    //     // Google+ / Schema.org
    //     { itemprop: 'name', content: '제 이야기 들어보실래요?' },
    //     { itemprop: 'description', content: '제 이야기 들어보실래요?' },
    //     {property: 'og:url', content: 'http://7rainbow.org/readletter/' + this.$route.params.letter_id},
    //     {property: 'og:type', content: 'website'},
    //     {property: 'og:title', content: '제 이야기 들어보실래요?'},
    //     {property: 'og:description', content: '제 이야기 들어보실래요?'},
    //     {property: 'og:image', content: 'statics/calligraphy2.jpg'},
    //     {property: 'og:site_name', content: '그물 깁는 사람들'}
    //   ]
    // }
  },
  data: function () {
    return {
      content: '',
      status: 0,
      title: ''
      // 0: 비공개 // 1: 공개 대기중// 2: 공개
    }
  },
  computed: {
    prevId: function () {
      let curId = Number(this.$route.params.letter_id)
      if (curId === 1) {
        return 1
      } else {
        return curId - 1
      }
    },
    nextId: function () {
      let curId = Number(this.$route.params.letter_id)
      if (curId === 13) {
        return 13
      } else {
        return curId + 1
      }
    },
    isMemberView: function () {
      if (this.$route.params.user_id) {
        return true
      } else {
        return false
      }
    },
    isAdmin: function () {
      // console.log(this.$route)
      if (this.$route.params.user_id && this.$route.params.user_id === 'admin') {
        return true
      } else {
        return false
      }
    },
    statusTxt: function () {
      if (this.status === 0) {
        return '비공개'
      } else if (this.status === 1) {
        return '공개 대기중'
      } else {
        return '공개'
      }
    }
  },
  methods: {
    onPrev: function () {
      window.location.assign('http://7rainbow.org/readletter/' + this.prevId)
      // this.$router.push('/readletter/' + this.prevId)
      // this.fetchData()
    },
    onNext: function () {
      window.location.assign('http://7rainbow.org/readletter/' + this.nextId)
      // this.$router.push('/readletter/' + this.nextId)
      // this.fetchData()
    },
    getAsyncData: function () {
      var self = this
      window.setTimeout(function () {
        self.$emit('updateHead')
      }, 3000)
    },
    onListReq: function () {
      if (!this.$route.params.user_id) {
        return this.$router.push('/')
      }
      if (this.$route.params.user_id === 'admin') {
        this.$router.push('/adminletters')
      } else {
        this.$router.push('/myletters/' + this.$route.params.user_id)
      }
    },
    onEditReq: function () {
      this.$router.push('/editletter/' + this.$route.params.letter_id + '/user/' + this.$route.params.user_id)
    },
    onOpenReq: function (mode) {
      let self = this
      let status
      if (mode === 'open') {
        status = 1
      } else {
        status = 0
      }
      const url = 'http://' + window.location.hostname + store.state.port + '/letter/' + this.$route.params.letter_id
      this.$axios.put(url, {
        status: status
      }).then(function (response) {
        // window.parent.alert(response.data.name)
        if (response.status === 200) {
          // console.log(response)
          self.status = status
          alert('관리자에게 편지 오픈 요청 하였습니다.')
        } else {
          alert('fail')
        }
        // console.log(response)
      }).catch(() => {
        // window.parent.alert('catch')
        alert('error')
      })
    },
    onAdminOpen: function (mode) {
      let self = this
      let status
      if (mode === 'open') {
        status = 2
      } else {
        status = 1
      }
      const url = 'http://' + window.location.hostname + store.state.port + '/letter/' + this.$route.params.letter_id
      this.$axios.put(url, {
        status: status
      }).then(function (response) {
        // window.parent.alert(response.data.name)
        if (response.status === 200) {
          // console.log(response)
          alert('편지를 홈페이지에 개시했습니다.')
          self.status = status
        } else {
          alert('fail')
        }
        // console.log(response)
      }).catch(() => {
        // window.parent.alert('catch')
        alert('error')
      })
    },
    onDeleteReq: function () {
      alert('삭제는 아직 미구현')
    },
    fetchData: function () {
      let self = this
      const url = 'http://' + window.location.hostname + store.state.port + '/letter/' + this.$route.params.letter_id
      this.$axios.get(url).then(function (response) {
        // window.parent.alert(response.data.name)
        if (response.status === 200) {
          // console.log(response)
          // console.log(response.data.content)
          self.content = response.data.content
          self.status = response.data.status
        } else {
          alert('fail')
        // alert('글목록 가져오기 실패')
        }
        // console.log(response)
      }).catch((err) => {
        console.log(err)
      // window.parent.alert('catch')
      // alert('글목록 가져오기 에러')
      })
    }
  },
  created: function () {
    let self = this
    const url = 'http://' + window.location.hostname + store.state.port + '/letter/' + this.$route.params.letter_id
    this.$axios.get(url).then(function (response) {
    // window.parent.alert(response.data.name)
      if (response.status === 200) {
        // console.log(response)
        // console.log(response.data.content)
        self.content = response.data.content
        self.status = response.data.status
        self.title = response.data.title
      } else {
        alert('fail')
        // alert('글목록 가져오기 실패')
      }
    // console.log(response)
    }).catch((err) => {
      console.log(err)
      // window.parent.alert('catch')
      // alert('글목록 가져오기 에러')
    })
  },
  mounted: function () {
    var self = this
    window.setTimeout(function () {
    // self.params.title = 'new website name'
      // alert('aa')
      self.$emit('updateHead')
    }, 3000)
  }
}
</script>

<style lang="styl">
@import "~quill/assets/snow"
</style>
