<template>
  <q-page>
    <div class="fixed-center" >
      <img :src="'statics/logo.png'" class="q-display-1 q-pb-md" />
      <q-field class="q-ma-sm" label="아이디" :error="$v.userId.$error" error-label="Please type a valid email" >
        <q-input v-model="userId" type="text" />
      </q-field>
      <q-field class="q-ma-sm" label="비밀번호">
        <q-input v-model="pwd" type="password" />
      </q-field>
       <q-field class="q-ma-sm" label="암호">
        <q-input  v-model="pwd2" type="password" />
      </q-field>
      <q-field class="q-ma-sm" label="성별">
        <q-option-group inline
          color="primary"
          type="radio"
          v-model="gender"
          :options="[
            { label: '남자', value: 0 },
            { label: '여자', value: 1 }
          ]"
        />
      </q-field>
      <q-field class="q-ma-sm" label="출생연도">
        <q-input v-model="bornyear" type="number" suffix="년" align="right" placeholder="예) 1990" />
      </q-field>
        <q-btn class="q-ma-md full-width" align="center" label="회원가입" rounded outline color="primary" @click="onRegisterBtnClick" />
    </div>
  </q-page>
</template>
<script>
import store from '../store'
import { required, minLength, between } from 'vuelidate/lib/validators'
export default {
  data: function () {
    return {
      userId: '',
      pwd: '',
      pwd2: '',
      gender: 0,
      bornyear: ''
    }
  },
  validations: {
    userId: {
      required,
      minLength: minLength(4)
    },
    bornyear: {
      between: between(1927, 2000)
    }
  },
  methods: {
    onRegisterBtnClick: function () {
      if (this.userId.length < 1) {
        alert('ID는 1글자 이상')
        return
      } else if (this.pwd.length < 4) {
        alert('비밀번호는 4글자 이상')
        return
      } else if (this.pwd2.length === 0) {
        alert('관리자가 알려준 암호를 입력해주세요')
        return
      } else if (this.bornyear < 1930 || this.bornyear > 2005) {
        alert('몇년생인지요? 너무 많거나 너무 늙었음')
        return
      }
      const url = 'http://' + window.location.hostname + store.state.port + '/user'
      let self = this
      this.$axios.post(url, {
        user_id: this.userId,
        pwd: this.pwd,
        pwd2: this.pwd2,
        gender: this.gender,
        born_year: this.bornyear
      }).then(function (response) {
        // window.parent.alert(response.data.name)
        if (response.status === 200) {
          console.log(response)
          alert('화원가입 성공! 로그인해주세요 ^_^')
          self.$router.push('/login')
        } else {
          alert('fail')
          alert('회원가입 실패')
        }
        // console.log(response)
      }).catch(() => {
        // window.parent.alert('catch')
        alert('회원가입 에러')
      })
    }
  }
}
</script>

<style>
</style>
