<template>
  <q-page padding style="backgroundColor:black">
    <q-carousel class="text-white" color="white" arrows quick-nav infinite height="600px">
      <q-carousel-slide img-src="statics/calligraphy1.jpeg" style="width:100px">
      </q-carousel-slide>
      <q-carousel-slide img-src="statics/calligraphy2.jpeg">
      </q-carousel-slide>
      <q-carousel-slide img-src="statics/calligraphy3.jpeg">
      </q-carousel-slide>
      <q-carousel-slide img-src="statics/calligraphy4.jpeg">
      </q-carousel-slide>
      <q-carousel-slide img-src="statics/calligraphy5.jpeg">
      </q-carousel-slide>
    </q-carousel>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
}
</script>

<style>
</style>
