<template>
  <q-page padding>
    <q-page class="row justify-center">
      <div class="videowrapper">
      	<!-- showinfo=0& -->
        <iframe src="https://www.youtube.com/embed/Nq5kZQiR__4??autoplay=1&rel=0" allowfullscreen frameborder="0">
        </iframe>
      </div>
    </q-page>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
}
</script>

<style>
</style>
