<template>
  <q-page class="row justify-center">
      <q-video src="statics/범수_04.mp4" style="width:100vw"/>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
}
</script>

<style>
</style>
