<template>
 <q-page class="row justify-center" padding>
    <div class="column col-lg-12">
      <div class="videowrapper">
        <iframe src="http://www.youtube.com/embed/b3RNGYr5HL0?autoplay=1&showinfo=0&rel=0" allowfullscreen frameborder="0">
        </iframe>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
}
</script>

<style>
</style>
