<template>
  <q-card class="col-lg-4 col-md-5 col-sm-12 q-pb-xl" :ref="refId" v-bind:style="{fontFamily: letterFont}">
          <q-card-title>
            {{title}}
          </q-card-title>
          <q-card-main>
              <p style="line-height:120%;color:#7A3866" v-html="introMsg"></p>
              <!-- <div slot="subtitle" class="row justify-end items-center">
              <q-icon name="share" color="grey-5" size="25px"/> 100
              <q-icon name="local library" color="grey-5" size="25px"/> 120
              <q-icon name="favorite" color="grey-5" size="25px"/> 450
            </div> -->
              <img :src="imgPath" >
          </q-card-main>
          <q-card-actions align="center" class="q-pb-lg">
            <q-btn v-if="videoId!==null" flat dense round icon="ondemand_video" size="lg" color="primary" @click="onPlay"/>
            <q-btn rounded outline color="primary" label="편지읽기" @click="onClick"/>
          </q-card-actions>
          <!-- <q-card-separator /> -->
          <!-- <q-card-title>
            <div slot="right" class="row items-center">
               <q-icon name="share" class="q-pl-sm" color="grey-5" size="20px"/> {{shareCount}}
              <q-icon name="local library" class="q-pl-sm"  color="grey-5" size="20px"/> {{readCount}}
              <q-icon name="favorite" class="q-pl-sm"  color="grey-5" size="20px"/> {{loveCount}}
            </div>
          </q-card-title> -->
        </q-card>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: ['letterId', 'title', 'introMsg', 'imgPath', 'letterPath', 'shareCount', 'readCount', 'loveCount', 'letterFont', 'refId', 'videoId'],
  methods: {
    onClick: function () {
      this.$router.push(this.letterPath)
    },
    onPlay: function () {
      this.$root.$emit('onPlay', this.videoId)
    }
  }
}
</script>

<style>
</style>
