<template>
  <q-card class="col-lg-4 col-md-5 col-sm-12 q-pb-xl" style="max-width:400px" v-bind:style="{fontFamily: letterFont}">
          <q-card-main>
            <q-list no-border>
              <q-item>
                <q-item-main>
                  <q-item-tile align="center"><p class="q-title">{{title}}</p></q-item-tile>
                  <q-item-tile sublabel align="center">({{statusTxt}})</q-item-tile>
                </q-item-main>
              </q-item>
              <q-item v-if="introMsg !== null && introMsg.length > 0">
                <q-item-main>
                  <q-item-tile sublabel>
                  {{introMsg}}
                  </q-item-tile>
                </q-item-main>
              </q-item>
              <q-item>
                <q-item-main align="center">
                  <img :src="imgPath" >
                </q-item-main>
              </q-item>
              <q-item>
                <q-item-main align="center">
                  <q-btn round outline color="primary" icon="video"/>
                  <q-btn rounded outline color="primary" label="편지읽기" @click="onClick"/>
                </q-item-main>
              </q-item>
            </q-list>
             <!--  <p class="text-faded" style="line-height:120%">{{introMsg}}</p>
              <img :src="imgPath" >
              상태 : {{statusTxt}}
          </q-card-main>
          <q-card-actions align="center" class="q-pb-lg">
            <q-btn rounded outline color="primary" label="편지읽기" @click="onClick"/>
          </q-card-actions> -->
          </q-card-main>
        </q-card>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
    }
  },
  props: ['title', 'introMsg', 'imgPath', 'letterPath', 'shareCount', 'readCount', 'loveCount', 'letterFont', 'status'],
  methods: {
    onClick: function () {
      this.$router.push(this.letterPath)
    }
  },
  computed: {
    isAdmin: function () {
      return this.$store.getters.isAdmin
    },
    statusTxt: function () {
      if (this.status === 0) {
        return '비공개'
      } else if (this.status === 1) {
        return '공개 대기중'
      } else {
        return '공개'
      }
    }
  }
}
</script>

<style>
</style>
