// app global css
 @import '~variables'
  .envelope{
    width: 50px;
  }

  @font-face { font-family: 'GyeonggiBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff'); font-weight: normal; font-style: normal; }

  @font-face { font-family: 'KimNamyun'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KimNamyun.woff') format('woff'); font-weight: normal; font-style: normal; }

  .letter{
    font-family: 'GyeonggiBatang';
    line-height: 200px;
    text-decoration: underline;
    text-decoration-color: $light-blue-13
    -webkit-text-underline-position: under;
    -ms-text-underline-position: below;
    text-underline-position: under;
    // text-indent: 15px;
   }

   .letter_title{
     font-family: 'GyeonggiBatang';
     font-size: 19px;
     color:#7A3866;
   }

   .letter-background{
     background-color: $yellow-1;
   }

   .link_style{
     font-family: 'GyeonggiBatang';
     font-size: 15px;
     color:#7A3866;
   }


   .ql-editor  {
   line-height: 1.90 !important;
   // font-family: Calibri, Helvetica !important;
   // font-size: 15px !important;
   -webkit-margin-after:0px;
   -webkit-margin-before:0px;
}
.ql-editor p {    line-height: 1.9;}
  // div {
  //   font-family: 'GyeonggiBatang';
  //  }


.videowrapper {
position: relative;
padding-bottom: 56.30%; /* 16:9 비율인 경우  56.25*/
/* padding-bottom값은 4:3 비율인 경우 75%로 설정합니다 */
// padding-top: 25px;
height: 0;
}

.videowrapper iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.footer {
  background-color: $blue-grey-9;
  color: white;
}

.pink {
  color: $pink-2;
}


