<!DOCTYPE html>
<html lang="en">
  <head>
   <!--  <meta property="og:url" content="http://7rainbow.org:3000"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="제 이야기 들어보실래요?"/>
    <meta property="og:description" cg:ontent="제 이야기 들어보실래요?"/>
    <meta property="og:image" content="statics/calligraphy2.jpg"/> -->
    <meta charset="utf-8">
   <!--  <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>"> -->
   <meta name="description" content="퀴어문화축제에 대응하는 탈동성애(커밍아웃 어게인) 간증 편지. 게이 트랜스젠더등 성소수자 전도 프로젝트">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">
   <!--  <title><%= htmlWebpackPlugin.options.productName %></title> -->
    <title>홀리라이프</title>
    <link rel="icon" href="statics/better.png" type="image/x-icon">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png"> -->

    <link rel="apple-touch-icon" sizes="57x57" href="statics/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="statics/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="statics/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="statics/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="statics/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="statics/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="statics/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="statics/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="statics/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="statics/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <link rel="manifest" href="statics/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="statics/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <% if (htmlWebpackPlugin.options.ctx.mode.pwa) { %>
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.pwaManifest.theme_color %>">
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="<%= htmlWebpackPlugin.options.pwaManifest.background_color %>">
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.pwaManifest.name %>">
    <link rel="apple-touch-icon" href="statics/icons/apple-icon-152x152.png">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="statics/icons/ms-icon-144x144.png">
    <meta name="msapplication-TileColor" content="<%= htmlWebpackPlugin.options.pwaManifest.background_color %>">
    
    <!--  return [{property: 'og:url', content: 'http://7rainbow.org/readletter/' + this.$route.params.letter_id},
        {property: 'og:type', content: 'website'},
        {property: 'og:title', content: '제 이야기 들어보실래요?'},
        {property: 'og:description', content: '제 이야기 들어보실래요?'},
        {property: 'og:image', content: 'http://7rainbow.org/statics/calligraphy2.jpg'} -->
    <% } %>

    <%= htmlWebpackPlugin.options.headScripts %>

    <!--
      The following is optional if you DON'T build for PWA.
      Preloads/prefetches chunks/assets.
    -->
    <% if (!['cordova', 'electron'].includes(htmlWebpackPlugin.options.ctx.modeName) && htmlWebpackPlugin.options.ctx.prod) {
        for (var chunk of webpack.chunks) {
          for (var file of chunk.files) {
            if (file.match(/\.(js|css)$/)) { %>
      <link rel="<%= chunk.initial ? 'preload' : 'prefetch' %>" href="<%= file %>" as="<%= file.match(/\.css$/)? 'style' : 'script' %>">
    <% }}}} %>
    <meta property="og:url" content="http://7rainbow.org"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="[탈동성애 간증 편지]'제 이야기 들어보실래요?'"/>
    <meta property="og:description" content="이요나 목사와 함께하는 12명의 청년 스토리"/>
    <meta property="og:image" content="http://7rainbow.org/statics/share.jpeg"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="naver-site-verification" content="081b0f378a6b913e6854fb340a1632ab019db24f"/>
    <link rel="canonical" href="http://7rainbow.org">
  </head>
  <body>
    <!-- Channel Plugin Scripts -->
<script>
  ;window.channelPluginSettings = {
    "pluginKey": "58428729-557b-4202-a787-754987d5603a"
  };
  (function() {
    var w = window;
    if (w.ChannelIO) {
      return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
    }
    var d = window.document;
    var ch = function() {
      ch.c(arguments);
    };
    ch.q = [];
    ch.c = function(args) {
      ch.q.push(args);
    };
    w.ChannelIO = ch;
    function l() {
      if (w.ChannelIOInitialized) {
        return;
      }
      w.ChannelIOInitialized = true;
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
      s.charset = 'UTF-8';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
    if (document.readyState === 'complete') {
      l();
    } else if (window.attachEvent) {
      window.attachEvent('onload', l);
    } else {
      window.addEventListener('DOMContentLoaded', l, false);
      window.addEventListener('load', l, false);
    }
  })();
</script>
<!-- End Channel Plugin -->
    <% if (!htmlWebpackPlugin.options.ctx.mode.electron) { %>
      <noscript>
        This is your fallback content in case JavaScript fails to load.
      </noscript>
    <% } %>

    <!-- DO NOT touch the following <div> -->
    <div id="q-app"></div>

    <!-- DO NOT touch the following -->
    <%= htmlWebpackPlugin.options.bodyScripts %>

    <!-- built files will be auto injected here -->
  </body>
</html>
