<template>
  <q-layout view="hHh LpR lff"> <!-- Be sure to play with the Layout demo on docs -->

    <!-- (Optional) The Header -->
    <q-layout-header>
      <q-toolbar color="white" text-color="light-blue-4" inverted>
        <img src="statics/holylife.png"  class="q-mx-md" style="width:120px" @click="$router.push('/')"/>
        <img src="statics/better.png" class="q-display-1" style="width:80px" @click="$router.push('/')"/>
         <!-- <img alt="Quasar logo" src="~assets/logo.png" style="width:50px" @click="$router.push('/')"> -->
        <!-- <q-btn flat outline label="인트로" @click="$router.push('/video')" />
        <q-btn flat outline label="편지" @click="$router.push('/')" />
        <q-btn flat outline label="켈리그라피" @click="$router.push('/calli')" /> -->
        <q-btn flat outline :label="label" v-if="isLogin" @click="onMyLetters" />
        <q-btn flat outline label="Logout" v-if="isLogin" @click="onLogout" />
        <q-toolbar-title>
        </q-toolbar-title>
      <!-- showRight is a model attached to right side drawer below -->
      <q-btn color="deep-orange"
        flat round dense
        @click="opened = !opened"
        icon="menu"
      />
      </q-toolbar>
    </q-layout-header>
     <q-layout-drawer side="right" v-model="opened" :content-class="['q-pa-sm']">
    <!-- drawer content -->
    <q-list no-border>
      <q-item link  to="/" color="white">
        <img src="statics/better.png" class="q-display-1" style="width:80px" @click="$router.push('/')"/>
      </q-item>
      <q-item to="/video">
        <q-item-side icon="ondemand_video">
        </q-item-side>
        <q-item-main>
          <q-item-tile class="link_style" label>퀴어축제 어떻게 대응해야 하나?</q-item-tile>
          <q-item-tile sublabel>그깁사 프로젝트 탄생배경 click!</q-item-tile>
        </q-item-main>
      </q-item>
    </q-list>
  </q-layout-drawer>
    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>
    <!-- (Optional) The Footer -->
   <!--  <q-layout-footer class="footer row justify-center items-end q-pa-md"> -->
    <q-layout-footer class="footer column justify-center items-center q-pa-md">
      <div class="row">
       <q-list dark no-border dense class="q-px-md">
        <q-list-header>교회정보</q-list-header>
        <q-item>
          <q-item-side icon="home">
          </q-item-side>
          <q-item-main>
            <q-item-tile label><a style="text-decoration:none;color:#D2B48C" href="http://www.calvarychapel.or.kr/">갈보리채플 서울교회</a></q-item-tile>
            <q-item-tile sublabel>(06102)서울시 강남구 언주로 608 (논현동 275-3) 3F</q-item-tile>
          </q-item-main>
        </q-item>
        <q-item>
          <q-item-side icon="email">
          </q-item-side>
          <q-item-main>
            <a style="text-decoration:none;color:#D2B48C" href="mailto:holylife@daum.net">seoul@calvarychapel.kr</a>
          </q-item-main>
        </q-item>
        <q-item>
          <q-item-side icon="phone">
          </q-item-side>
          <q-item-main>
            02-546-5811
          </q-item-main>
        </q-item>
      </q-list>
      <q-list dark no-border dense class="q-px-md">
        <q-list-header>상담전화</q-list-header>
         <q-item>
          <q-item-side icon="phone">
          </q-item-side>
          <q-item-main>
            070-7565-3535
          </q-item-main>
        </q-item>
        <q-list-header>후원계좌</q-list-header>
         <q-item>
          <q-item-side icon="featured_play_list">
          </q-item-side>
          <q-item-main>
            <q-item-tile label>우리은행 1005-903-196737</q-item-tile>
            <q-item-tile sublabel>홀리라이프</q-item-tile>
          </q-item-main>
        </q-item>
      </q-list>
        <q-list dark no-border dense class="q-px-md">
         <q-list-header>연계기관</q-list-header>
        <q-item>
          <q-item-side icon="home">
          </q-item-side>
          <q-item-main>
            <q-item-tile label><a style="text-decoration:none;color:#D2B48C" href="http://www.holylife.kr/">홀리라이프 (HOLY LIFE)</a></q-item-tile>
            <q-item-tile sublabel>Post-LGBT Korean Association</q-item-tile>
          </q-item-main>
        </q-item>
      </q-list>
     </div>
     <div class="full-width row justify-center" style="border-top: 1px grey solid;margin-top:20px">
          <span class="q-my-lg text-center" style="font-size:11px">Copyright 2018 <span style="color:#FFB6C1;font-size:12px">'7rainbow'</span> Co. Ltd. All rights reserved.</span>
      </div>
    </q-layout-footer>
  </q-layout>
</template>

<script>
import store from '../store'
export default {
  // name: 'LayoutName',
  metaInfo: {
    title: 'roottest'
  },
  data () {
    return {
      opened: false
    }
  },
  computed: {
    label: function () {
      // alert(store.getters.userId)
      return store.getters.userId + '의 편지'
    },
    isLogin: function () {
      if (store.getters.isAuthenticated) {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    onMyLetters: function () {
      if (store.getters.userId === 'admin') {
        this.$router.push('/adminletters')
      } else {
        this.$router.push('/myletters/' + store.getters.userId)
      }
    },
    onLogout: function () {
      this.$store.dispatch('LOGOUT')
        .then(() => {
          this.$router.push('/login')
        })
        .catch(({message}) => {
          this.msg = message
          alert(this.msg)
        })
    }
  }
}
</script>

<style>
size9 {
  font-size: 9px;
}
</style>
